@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
@section topCSS{
    <link href="~/css/background_img.css" rel="stylesheet" />
}
<div class="wrap col-md-12 col-12">
    <div class="container d-flex justify-content-center">
        <div class="title text-center">
            <img src="https://i.imgur.com/g4rDyId.png" alt="BS 狼人殺" />
            <br />
        </div>
    </div>
</div>
<h5 class="mx-auto text-center mt-5">
    已經完成驗證<br>點選回首頁回到遊戲畫面<br>--------BS狼人殺--------<br><a class="btn btn-dark mt-4" href="~/Startpage.html">回首頁</a>
</h5>


@section endJS{
    <script src="~/js/background_img.js"></script>

}