@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
@section topCSS{
    <link href="~/css/background_img.css" rel="stylesheet" />
}
<h1>@*@ViewData["Title"]*@</h1>

<div class="wrap col-md-12 col-12">
    <div class="container d-flex justify-content-center">
        <div class="title text-center">
            <img src="https://i.imgur.com/g4rDyId.png" alt="BS 狼人殺" />
            <br />
        </div>
    </div>
</div>
<h3 class="mx-auto text-center mt-5">
    您的密碼重設成功。<br> 請點選<a style="color:#77DDFF;" asp-page="./Login">這裡</a>登入
</h3>
@section endJs{
    <script src="~/js/background_img.js"></script>
}