body {
    margin: 0;
    overflow: hidden;
    /*cursor: url('/Images/paw.jpg') 45 45, auto;*/
    -webkit-user-select: none; /* for Chrome */
    font-family: 微軟正黑體;
}
* {
    font-family: Microsoft JhengHei !important;
}
/*html {
    SCROLLBAR-FACE-COLOR: #333333;
    SCROLLBAR-HIGHLIGHT-COLOR: #000000;
    SCROLLBAR-3DLIGHT-COLOR: #333333;
    SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #000000;
    SCROLLBAR-DARKSHADOW-COLOR: #333333;
    SCROLLBAR-BASE-COLOR: #333333;
}*/
#WolfmessageInput {
    outline: none
}

.image {
    transition: fill 1s ease-in-out;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 80vh 1fr;
    grid-template-rows: 72vh 1fr;
    background-color: var(--trees);
}
.Peoplemessages{
    max-width:85%;
}
#leftgamerecordli {
    padding: 0px;
}

#rightgamerecordli {
    padding: 0px;
}

li {
    color: #ffffff;
    list-style-type: none;
}

[class*="section_"] {
    grid-column: 1 / -1;
    grid-row: 1;
    height: 100%;
    width: 100%;
}

.btn-secondary {
    background-color: #4F7086;
    outline: none !important;
    border: none;
    color: white;
    margin-left: 5px;
    border-width: 0px;
}

.active {
    /*   background-color: #76B3D7 !important;*/
    outline: none !important;
    border: none;
    box-shadow: none !important;
}

.btn-secondary:focus {
    border: none !important;
    box-shadow: none !important;
}

.active:active {
    border: none !important;
    box-shadow: none !important;
}

.image image-light svg {
    width: 100%;
    height: 100%;
}

.section_sky {
    grid-column: 1 / -1;
    grid-row: 1;
}

.section_rl, .section_ml, .section_fl {
    grid-column: 1;
    grid-row: 1;
}

.section_rm, .section_mm, .section_fm {
    grid-column: 2;
    grid-row: 1;
}

.section_rr, .section_mr, .section_fr {
    grid-column: 3;
    grid-row: 1;
}

[class*="section_f"], .section_trees {
    isolation: isolate;
}

.section_mfog {
    height: 30%;
    margin-top: 30vh;
}

.section_ffog {
    height: 30%;
    margin-top: auto;
}

.section_sun {
    height: 16vh;
    width: 16vh;
    margin: 4vh auto 0;
}

.gradient stop {
    transition: stop-color 1s ease-in-out;
}

.image-light {
    --rear_highlight: #2fe417;
    --rear_shadow: #7bc26d;
    --mid_highlight: #78ff66;
    --mid_shadow: #54a174;
    --fore_highlight: #3cf388;
    --fore_shadow: #5fd490;
    --trees: #47995b;
    --sky-bottom: #16b5e6ad;
    --sky-mid: #3676d6;
    --sky-top: #70a0fa;
    --fog: #ffff66;
    --sun: #23f134;
}

.image-dark {
    --rear_highlight: #a5cfe6;
    --rear_shadow: #7095af;
    --mid_highlight: #88d1fb;
    --mid_shadow: #4B6C82;
    --fore_highlight: #87d5f7;
    --fore_shadow: #385162;
    --trees: #253641;
    --sky-bottom: #a1cde4;
    --sky-mid: #7eb9d8;
    --sky-top: #051f33;
    --fog: #c9dfff;
    --sun: #6daac2;
}

.image-light .moon {
    opacity: 0;
}

.image-dark .moon {
    opacity: .22;
}

.screen {
    mix-blend-mode: screen;
}

.fog {
    fill: url(#gradient-fog);
    opacity: .22;
}

.moon {
    isolation: isolate;
    opacity: 0.22;
    mix-blend-mode: multiply;
    transition: opacity 1s ease-in-out;
}

.moon-grey1 {
    fill: #757575;
}

.moon-grey2 {
    fill: #595959;
}

.moon-grey3 {
    fill: #b2b2b2;
}

.moon-grey4 {
    fill: #ddd;
}

path, polygon {
    transition: fill 1s ease-in-out;
}

.image {
    transition: background-color 1s ease-in-out;
}

.switch {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: 0;
    background: transparent;
    cursor: pointer;
}

    .switch span {
        filter: saturate(0);
        background-color: transparent;
        opacity: .5;
        padding: .25rem;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        transition: border-bottom-color 1s ease-in-out, filter 1s ease-in-out, opacity 1s ease-in-out;
    }

        .switch span:first-child {
            margin-right: 1rem;
        }

[aria-checked="false"] span:first-child {
    filter: none;
    opacity: 1;
    border-color: white;
}

[aria-checked="true"] span:last-child {
    filter: none;
    opacity: 1;
    border-color: white;
}
/*背景尾*/

.top-playerimg {
    display: flex;
    /*  margin-top: 4%;*/
    margin-left: 4%;
}

    .top-playerimg a {
        margin-left: 6%;
    }

.footer-playerimg a {
    margin-left: 6%;
}

.playerimg {
    position: relative;
}

.footer-playerimg {
    display: flex;
    margin-top: 6%;
    margin-left: 4%;
}

.deadimg {
    position: absolute;
    z-index: 6;
    display: none;
}

.playerphoto {
    /* position: absolute;  */
    z-index: 1;
}

.circleImg {
    width: 5em;
    height: 5em;
    overflow: hidden;
    border-radius: 100%;
    margin-left: 15%;
    z-index: 8;

}

    .circleImg img {
        border-radius: 100%;
        max-width: 100% !important;
        object-fit: cover;
    }


.gamerecord {
    display: flex;
    height: 320px;
    background-color: rgba(104, 157, 186, 0.6);
}

.rightgamerecord li {
    margin: 5Px 10px 0 10px;
    background-color: #253641;
    color: #ffffff;
    padding: 2px 15px;
    border-radius: 15px;
}

.leftgamerecord {
    width: 80%;
    /*    background-color: rgba(104, 157, 186, 0.6);*/
    margin-left: 5%;
    margin-top: 1%;
    overflow: hidden;
}

    .leftgamerecord li {
        color: black;
        font-size: 25px;
        font-weight: 900;
        font-family: 微軟正黑體;
        text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
    }

.rightgamerecord {
    /*   width: 25%;*/
    /*   background-color: rgba(104, 157, 186, 0.6);*/
    height: 219px;
    overflow: hidden;
    background-color: #253641;
    margin-left: 4%;
}

.gamenumber {
    background-color: #ffa396;
    padding: 6px 11px;
    font-size: 12px;
    font-family: "Work Sans";
    position: absolute;
    top: 0px;
    left: -23px;
    color: #ffffff;
    /*    z-index:10;*/
}

.image-dark {
    position: relative;
}

.gamebaby {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


.bb {
    position: absolute;
    color: aliceblue;
    top: 100px;
}

.right_dialogue p {
    color: #ffffff;
}

.dialogue_card {
    background-color: rgba(104, 157, 186, 0.6);
}

    .dialogue_card p {
        margin: 5px 10px 0 10px;
        background-color: #253641;
        color: #ffffff;
        padding: 2px 15px;
    }

#div1 {
    overflow-y: scroll;
    width: 89%;
    height: 300px;
}

.glow-on-hover {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: bold;
}

    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000;
    }

        .glow-on-hover:active:after {
            background: transparent;
        }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#sendBtn {
    height: 50px;
    width: auto;
}

.text_decord {
    width: 69%;
    margin-left: 43px;
}

#describe {
    cursor: default;
}




.on {
    margin: 5px;
    box-shadow: 0px 0px 25px red;
    filter: alpha(Opacity=100);
}

.off {
    margin: 5px;
    filter: alpha(Opacity=20);
}

#toggleDark {
    top: -10000px;
    left: -10000px;
}



/*modal女巫*/
.modal-header {
    z-index: 999999;
}

.modal-footer {
    z-index: 999999;
}

.modal-body {
    width: 1138px;
    height: 400px;
    background: #224;
}

.modal-header {
    background: #224;
    border: none;
}

.modal-footer {
    background: #224;
    border: none;
}

.witch {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 60%;
    left: 70%;
    margin: -60px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
}

    .witch:before {
        content: "";
        display: block;
        width: 60em;
        height: 50em;
        /* top: 10%;
        left: 10%; */
        margin-top: -21.4em;
        margin-left: -28em;
        background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 100, 1) 1%, rgba(225, 225, 200, 1) 1%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%);
        background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 100, 1) 1%, rgba(225, 225, 200, 1) 1%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%);
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 100, 1) 1%, rgba(225, 225, 200, 1) 1%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%);
        -webkit-animation: lamp 10s ease 1s infinite;
        animation: lamp 10s ease 1s infinite;
    }


@-webkit-keyframes lamp {
    50% {
        opacity: 0.2;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}

@keyframes lamp {
    50% {
        opacity: 0.2;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}

.witch div,
.witch div:before,
.witch div:after {
    content: "";
    display: block;
    position: absolute;
}

.witch div {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 20px;
    margin-top: -50px;
}

    .witch div:nth-child(1) {
        width: 80px;
        height: 3px;
        background: #224;
        margin-top: -0.5px;
        border-radius: 3px;
        -webkit-transform: rotate(14deg);
        -ms-transform: rotate(14deg);
        transform: rotate(14deg);
    }

        .witch div:nth-child(1):before {
            width: 20px;
            height: 20px;
            background: #224;
            right: -20px;
            top: -9px;
            border-radius: 50px 0 45px 20px/45px 0 50px 20px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .witch div:nth-child(1):after {
            width: 25px;
            height: 18px;
            right: -25px;
            top: -15px;
            border-bottom: 5px solid #224;
            border-radius: 45%;
            -webkit-transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
        }

    .witch div:nth-child(2) {
        width: 11px;
        height: 18px;
        margin-top: -22px;
        left: 70px;
        background: #224;
        border-radius: 50px 20px 20px 40px/50px 23px 5px 61px;
        -webkit-transform: rotate(-23deg);
        -ms-transform: rotate(-23deg);
        transform: rotate(-23deg);
    }

        .witch div:nth-child(2):before,
        .witch div:nth-child(2):after {
            width: 12px;
            height: 17px;
            background: #224;
            left: 1px;
            top: 18px;
            border-radius: 0 60px 70px 0/0 60px 45px 0;
            -webkit-transform: rotate(64deg);
            -ms-transform: rotate(64deg);
            transform: rotate(64deg);
        }

        .witch div:nth-child(2):after {
            width: 10px;
            height: 10px;
            left: -1px;
            top: 3px;
            border-radius: 3px;
            -webkit-transform: rotate(42deg);
            -ms-transform: rotate(42deg);
            transform: rotate(42deg);
        }

    .witch div:nth-child(3) {
        width: 16px;
        height: 18px;
        background: #224;
        left: 65px;
        margin-top: -42px;
        border-radius: 40px 0 30px 10px/33px 0 30px 35px;
    }

        .witch div:nth-child(3):before {
            width: 4px;
            height: 0px;
            margin-top: -12px;
            margin-left: 8px;
            border-radius: 30px 0 0 0;
            -webkit-transform: rotate(37deg);
            -ms-transform: rotate(37deg);
            transform: rotate(37deg);
            border-left: 10px solid transparent;
            border-right: 2px solid transparent;
            border-bottom: 20px solid #224;
        }

        .witch div:nth-child(3):after {
            width: 39px;
            height: 8px;
            border-bottom: 6px solid #224;
            border-radius: 0 0 30px 30px/0 0 15px 15px;
            left: -9px;
            top: -3px;
            -webkit-transform: rotate(37deg);
            -ms-transform: rotate(37deg);
            transform: rotate(37deg);
        }

    .witch div:nth-child(4) {
        width: 6px;
        height: 8px;
        margin-left: 51px;
        margin-top: -26px;
        background: #224;
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

        .witch div:nth-child(4):before {
            left: 7px;
            top: 6px;
            width: 23px;
            height: 17px;
            border-top: 4px solid #224;
            border-radius: 0 50% 0 0;
            -webkit-transform: rotate(20deg);
            -ms-transform: rotate(20deg);
            transform: rotate(20deg);
        }

        .witch div:nth-child(4):after {
            width: 4px;
            height: 7px;
            background: #224;
            border-radius: 1px;
            left: -3px;
            top: -11px;
            -webkit-transform: rotate(45deg) skewX(-10deg);
            -ms-transform: rotate(45deg) skewX(-10deg);
            transform: rotate(45deg) skewX(-10deg);
        }

    .witch div:nth-child(5) {
        width: 27px;
        height: 12px;
        background: #224;
        margin-left: 40px;
        margin-top: -1px;
        -webkit-transform: rotate(-9deg);
        -ms-transform: rotate(-9deg);
        transform: rotate(-9deg);
        border-radius: 35px 0 30px 30px/50px 0 30px 100px;
    }

        .witch div:nth-child(5):before,
        .witch div:nth-child(5):after {
            width: 3.5px;
            height: 5px;
            left: 9px;
            top: 26px;
            background: #224;
            border-radius: 0 3px 0 5px;
            -webkit-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }

        .witch div:nth-child(5):after {
            left: 19px;
            top: 20px;
            -webkit-transform: rotate(-21deg);
            -ms-transform: rotate(-21deg);
            transform: rotate(-21deg);
        }

    .witch div:nth-child(6) {
        width: 13px;
        height: 6px;
        margin-left: 67px;
        margin-top: -25px;
        border-radius: 50%;
        border-left: 0px solid transparent;
        border-top: 1px solid #224;
    }

        .witch div:nth-child(6):before,
        .witch div:nth-child(6):after {
            width: 3px;
            height: 8px;
            background: #224;
            left: -3px;
            top: 42px;
            border-radius: 0 2px 10px 30px/0 2px 20px 75px;
            -webkit-transform: rotate(-55deg);
            -ms-transform: rotate(-55deg);
            transform: rotate(-55deg);
        }

        .witch div:nth-child(6):after {
            left: -12px;
            top: 51px;
            -webkit-transform: rotate(-40deg);
            -ms-transform: rotate(-40deg);
            transform: rotate(-40deg);
        }

    .witch div:nth-child(7) {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border-bottom: 1px solid #224;
        margin-left: 44px;
        margin-top: -38px;
    }

        .witch div:nth-child(7):before {
            width: 5px;
            height: 5px;
            background: #224;
            border-radius: 1px;
            left: 1px;
            top: 5.5px;
            -webkit-transform: rotate(10deg) skewX(-10deg);
            -ms-transform: rotate(10deg) skewX(-10deg);
            transform: rotate(10deg) skewX(-10deg);
            -webkit-box-shadow: 1px 1.5px 0 #224, -4px 31px 0 #224;
            box-shadow: 1px 1.5px 0 #224, -4px 31px 0 #224;
        }

        .witch div:nth-child(7):after {
            width: 5px;
            height: 3px;
            background: #224;
            border-radius: 3px;
            left: 2px;
            top: 11px;
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }

    .witch div:nth-child(8) {
        width: 25px;
        height: 28px;
        margin-top: 6px;
        margin-left: 47px;
        -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        transform: rotate(-25deg);
        overflow: hidden;
    }

        .witch div:nth-child(8):before,
        .witch div:nth-child(8):after {
            width: 5px;
            height: 50px;
            margin-top: -30px;
            margin-left: 1px;
            background: #224;
            border-radius: 50%;
        }

        .witch div:nth-child(8):after {
            width: 5px;
            height: 50px;
            margin-top: -30px;
            margin-left: 1px;
            background: #224;
            border-radius: 50%;
            -webkit-transform: rotate(-28deg);
            -ms-transform: rotate(-28deg);
            transform: rotate(-28deg);
        }

    .witch div:nth-child(9) {
        width: 9px;
        height: 10px;
        margin-top: -11px;
        overflow: hidden;
        margin-left: 56px;
    }

        .witch div:nth-child(9):before {
            width: 20px;
            height: 6px;
            bottom: -6px;
            left: -23px;
            background: none;
            border-radius: 0 50% 50% 0;
            border: 5px solid #224;
        }

        .witch div:nth-child(9):after {
            width: 18px;
            height: 18px;
            top: -18px;
            right: -19px;
            background: none;
            border-radius: 50%;
            border: 5px solid #224;
        }

    .witch div:nth-child(10) {
        width: 4px;
        height: 9px;
        border-radius: 10px 10px 5px 5px/10px 10px 30px 30px;
        background: #224;
        margin-top: -14px;
        margin-left: 39px;
        -webkit-transform: rotate(46deg);
        -ms-transform: rotate(46deg);
        transform: rotate(46deg);
    }

        .witch div:nth-child(10):before {
            width: 4px;
            height: 16px;
            border-radius: 20px 0 30px 30px/125px;
            background: #224;
            top: -14px;
            left: 0px;
            -webkit-transform: rotate(2deg);
            -ms-transform: rotate(2deg);
            transform: rotate(2deg);
        }

        .witch div:nth-child(10):after {
            width: 2px;
            height: 0;
            border: 1px solid transparent;
            border-top: 12px solid #224;
            top: 4px;
            left: 0px;
        }

    .witch div:nth-child(11) {
        width: 5px;
        height: 6px;
        border-radius: 6px 5px 6px 0/7px 5px 3px 0;
        background: #224;
        margin-top: -4px;
        margin-left: 30px;
        -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        transform: rotate(35deg);
    }

        .witch div:nth-child(11):before {
            width: 9px;
            height: 7px;
            background: #224;
            border-radius: 4px;
            left: 1px;
            top: -59px;
            -webkit-transform: rotate(-14deg) skewX(-40deg);
            -ms-transform: rotate(-14deg) skewX(-40deg);
            transform: rotate(-14deg) skewX(-40deg);
        }

        .witch div:nth-child(11):after {
            width: 22px;
            height: 9px;
            border-bottom: 5px solid #224;
            border-radius: 0 0 30px 0/0 0 15px 0;
            left: 1px;
            top: -40px;
            -webkit-transform: rotate(21deg);
            -ms-transform: rotate(21deg);
            transform: rotate(21deg);
        }

    .witch div:nth-child(12) {
        width: 23px;
        height: 8px;
        border-bottom: 5px solid #224;
        border-radius: 0 0 30px 0/0 0 15px 0;
        margin-left: 58px;
        margin-top: -30px;
        z-index: 1;
        -webkit-transform: rotate(44deg);
        -ms-transform: rotate(44deg);
        transform: rotate(44deg);
    }

        .witch div:nth-child(12):before {
            width: 5px;
            height: 0;
            top: 19px;
            left: -3px;
            border-left: 1px solid transparent;
            border-top: 2px solid #224;
            -webkit-transform: rotate(-47deg);
            -ms-transform: rotate(-47deg);
            transform: rotate(-47deg);
        }

        .witch div:nth-child(12):after {
            width: 0;
            height: 4px;
            top: 23px;
            left: 39px;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-left: 3px solid #224;
            -webkit-transform: rotate(-34deg);
            -ms-transform: rotate(-34deg);
            transform: rotate(-34deg);
        }

    .witch div:nth-child(13) {
        width: 12px;
        height: 15px;
        border: 1px solid #224;
        border-radius: 8px 8px 10px 10px/17px 17px 6px 7px;
        margin-top: 0;
        margin-left: 7px;
        -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

        .witch div:nth-child(13):before {
            width: 10px;
            height: 3px;
            border-radius: 8px 8px 0 0;
            margin-top: 13px;
            margin-left: 0.5px;
            background: #224;
        }

        .witch div:nth-child(13):after {
            width: 12px;
            height: 3px;
            border-radius: 50%;
            margin-top: 15px;
            margin-left: -0.5px;
            background: #224;
        }

    .witch div:nth-child(14) {
        width: 10px;
        height: 15px;
        background: rgba(100, 100, 120, 0.3);
        background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0) 0%, rgba(100, 100, 120, 0.3) 100%);
        background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 0) 0%, rgba(100, 100, 120, 0.3) 100%);
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(100, 100, 120, 0.3) 100%);
        border-radius: 8px 8px 10px 10px/17px 17px 6px 7px;
        margin-top: 1px;
        margin-left: 9px;
        -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

        .witch div:nth-child(14):before {
            width: 6px;
            height: 0px;
            border: 2px solid transparent;
            border-bottom: 3px solid #224;
            top: -4px;
            left: 0px;
        }

        .witch div:nth-child(14):after {
            width: 12px;
            height: 9px;
            border: 1px solid transparent;
            border-top: 1px solid #224;
            border-left: 1px solid #224;
            border-radius: 5px;
            top: -6px;
            left: -2px;
            -webkit-transform: rotate(65deg) skewX(42deg);
            -ms-transform: rotate(65deg) skewX(42deg);
            transform: rotate(65deg) skewX(42deg);
        }

.rule {
    margin-left: 50px;
    color: aliceblue;
}
/*//預言家*/
.findperson {
    border-radius: 100%;
    position: absolute;
    top: 4%;
    left: 7%;
    width: 5em;
    height: 5em;
}

/*選轉*/
/*.img-spin {

    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
        moz-transform: rotateY(0deg);
        ms-transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(360deg);
        moz-transform: rotateY(360deg);
        ms-transform: rotateY(360deg);
    }

    50% {
        transform: rotateY(0deg);
        moz-transform: rotateY(0deg);
        ms-transform: rotateY(0deg);
    }

    75% {
        transform: rotateY(360deg);
        moz-transform: rotateY(360deg);
        ms-transform: rotateY(360deg);
    }

    100% {
        animation-fill-mode: forwards;
    }
}*/

/*//雲*/

.absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}



.fog__img {
    position: absolute;
    height: 100vh;
    width: 300vw;
}

.fog__img--first {
    background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png") repeat-x;
    background-size: contain;
    background-position: center;
    -webkit-animation: marquee 60s linear infinite;
    animation: marquee 60s linear infinite;
}


@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-200vw, 0, 0);
        transform: translate3d(-200vw, 0, 0);
    }
}

@keyframes marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-200vw, 0, 0);
        transform: translate3d(-200vw, 0, 0);
    }
}

.figure {
    z-index: 1;
}

.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-duration: 350ms;
}

.out {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 225ms;
    animation-timing-function: ease-in;
    animation-duration: 225ms;
}

.viewport-flip {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: absolute;
}

.flip {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0);
    /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
    backface-visibility: hidden;
    transform: translateX(0);
}

    .flip.out {
        -webkit-transform: rotateY(-90deg) scale(.9);
        -webkit-animation-name: flipouttoleft;
        -webkit-animation-duration: 175ms;
        transform: rotateY(-90deg) scale(.9);
        animation-name: flipouttoleft;
        animation-duration: 175ms;
    }

    .flip.in {
        -webkit-animation-name: flipintoright;
        -webkit-animation-duration: 225ms;
        animation-name: flipintoright;
        animation-duration: 225ms;
    }

@-webkit-keyframes flipouttoleft {
    from {
        -webkit-transform: rotateY(0);
    }

    to {
        -webkit-transform: rotateY(-90deg) scale(.9);
    }
}

@keyframes flipouttoleft {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(-90deg) scale(.9);
    }
}

@-webkit-keyframes flipintoright {
    from {
        -webkit-transform: rotateY(90deg) scale(.9);
    }

    to {
        -webkit-transform: rotateY(0);
    }
}

@keyframes flipintoright {
    from {
        transform: rotateY(90deg) scale(.9);
    }

    to {
        transform: rotateY(0);
    }
}

.box {
    width: 200px;
    height: 180px;
    /* padding-top: 30px;
       padding-bottom: 30px; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.list {
    position: absolute;
    width: 200px;
    height: 180px;
}

    .list img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/*.onlight {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 100px rgb(251, 255, 0);
    filter: alpha(Opacity=100);
    border-radius: 20%;
}*/
.Character {
    text-align: center;
    font-size: 24px;
    color: black;
    font-weight: 900;
    font-family: 微軟正黑體;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
}

#leftgamerecordli li {
    cursor: pointer;
    opacity: 0;
}
#close{
    background-color:transparent;
    border:none;
}