.body{
    background-size:cover;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Ubuntu', sans-serif;
  }
.bgm-pic {
    background-image: url(https://i.imgur.com/mF8XJ9t.png);
    overflow-x: hidden;
    overflow-y: hidden;
}
.avatat{
    border-radius: 50%;
    width: 30%;
  }
  .user_img_btn{
    border-radius: 50%;    
    outline: none;
    &:active{
      outline: none;
    }
    &:focus{
      box-shadow: none;
      outline:none;
    }
  }
  .bgc_account{
    background-color: rgba(15, 5, 2, 1);
  }
  .modal-body{
    label{color: #fff;}
  }
  .user_img{
    background-color: transparent;
  } 
  .user_Choiceimg{
    background-color: rgba($color: #d4feff, $alpha: 1.0);
  }
  .users_pic{
    width: 30%;
    height: auto;
  }
  .upLoadImg{    
    height: 6rem;
    width: 6rem;
    border: 2px #000 dashed ;
    font-size: 50px;
    margin-top: 60px;
    margin-left: 40px;
  }
  .plus{
    display: none;
  }