* {
    font-family: Microsoft JhengHei !important;
}
a {
    color: #fff;
}
.container {
    margin: 0 auto;
    width: 90%;
}

.perspective {
    background: url("http://dc428.4shared.com/img/QWu4ziBq/s3/doorBorder.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: inline;
    float: left;
    height: 264px;
    width: 108px;
    margin: 20px;
    margin-top: 50px;
    margin-left: 7%;
    -webkit-perspective: 450px;
    border-radius: 3px;
    box-sizing: border-box;
    user-select: none;
}

.thumb {
    background: url("http://dc428.4shared.com/img/-vayshJ-/s3/ClassDoor.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 108px;
    height: 264px;
    position: absolute;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, .0) inset;
    transition: 1s transform linear;
    transform-origin: left;
    cursor: pointer;
}

.thumbOpened {
    transform: rotateY(-90deg);
    transform-origin: 8px;
    transition: .5s linear;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000;
    transform-origin: left;
    transform: rotateY(180deg);
    opacity: 0;
    animation-name: go;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    width: 350px;
}

.door_card {
    margin: 80px 25px;
    width: 50%;
    height: 30%;
}

.number {
    text-align: center;
    color: #fff;
}

.door_img {
    z-index: -1;
}

.door_number {
    background-image: url(https://i.imgur.com/Lv764FI.png);
    background-size: 103px 35px;
    background-position: center center;
    margin-top: 10px;
}

/*sky*/
* {
    margin: 0;
}

body {
    overflow: hidden;
}

#sky {
    background: -webkit-linear-gradient(#00111e 30%, #033d5e);
    background: -moz-linear-gradient(#00111e 30%, #033d5e);
    background: -o-linear-gradient(#00111e 30%, #033d5e);
    background: linear-gradient(#00111e 30%, #033d5e);
    overflow: hidden;
    margin: 0 !important;
}

.sky_all {
    position: relative;
}

.sky {
    width: 100%;
    height: 100%;
    position: absolute;
}

.wolf {
    width: 100px;
    margin-top: 77px;
}

.people {
    margin-top: 12px;
}


/*search*/
#search_content {
    position: absolute;
    height: 50px;
    width: 300px;
    margin-left: 170px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    margin-left: 58%;
    z-index:6;
}

    #search_content.on {
        -webkit-animation-name: in-out;
        animation-name: in-out;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

#search-input {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    outline: none !important;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    text-align: center;
    margin-top: 8px;
}

.search {
    background: none;
    position: absolute;
    top: 0px;
    left: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 100%;
    outline: none !important;
    border: 0;
    color: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    margin-top: 8px;
}

    .search:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 4px;
        background-color: #fff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: 20px;
        margin-left: 17px;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }

.close {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    margin-top: 5px;
}

    .close:before {
        content: "";
        position: absolute;
        width: 27px;
        height: 4px;
        margin-top: -1px;
        margin-left: -13px;
        background-color: #fff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }

    .close:after {
        content: "";
        position: absolute;
        width: 27px;
        height: 4px;
        background-color: #fff;
        margin-top: -1px;
        margin-left: -13px;
        cursor: pointer;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

.square {
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    width: 300px;
    height: 50px;
    border: 4px solid #ffffff;
    border-radius: 0;
    background: none;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    outline: none !important;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s, 0s, 0.4s;
    transition-delay: 0.4s, 0s, 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}




:root {
    --bg: #3C465C;
    --primary: #78FFCD;
    --solid: #fff;
    --add_room_btn-w: 10em;
    --dot-w: calc(var(--add_room_btn-w)*.2);
    --tr-X: calc(var(--add_room_btn-w) - var(--dot-w));
}

*:before,
*:after {
    box-sizing: border-box;
}

.add_room_btn {
    position: relative;
    /*    margin-left: -45%;*/
    width: var(--add_room_btn-w);
    color: var(--primary);
    border: .15em solid var(--primary);
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    cursor: pointer;
    left: auto;
    margin-top: 0px;
    z-index:6;
}

#add_btn {
    user-select: none;
}

.dot {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;
}

    .dot:after {
        content: '';
        position: absolute;
        left: calc(50% - .4em);
        top: -.4em;
        height: .8em;
        width: .8em;
        background: var(--primary);
        border-radius: 1em;
        border: .25em solid var(--solid);
        box-shadow: 0 0 .7em var(--solid), 0 0 2em var(--primary);
    }

.add_room_btn:hover .dot,
.add_room_btn:focus .dot {
    animation: atom 2s infinite linear;
    display: block;
}

@keyframes atom {
    0% {
        transform: translateX(0) rotate(0);
    }

    30% {
        transform: translateX(var(--tr-X)) rotate(0);
    }

    50% {
        transform: translateX(var(--tr-X)) rotate(180deg);
    }

    80% {
        transform: translateX(0) rotate(180deg);
    }

    100% {
        transform: translateX(0) rotate(360deg);
    }
}

.add_room_container {
    padding-top: 5px;
    width: 50%;
    /*margin-left: 7%;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.add_room_href {
    text-decoration: none!important;
    margin-left: 7%;
}

/*p {
    margin-top: 9px;
}*/

/*modal*/
/* Modal Base CSS */
.scotch-overlay {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 1ms opacity ease;
    -moz-transition: 1ms opacity ease;
    -ms-transition: 1ms opacity ease;
    -o-transition: 1ms opacity ease;
    transition: 1ms opacity ease;
    background: rgba(0,0,0,.6);
}

.scotch-modal {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 94%;
    padding: 24px 20px;
    -webkit-transition: 1ms opacity ease;
    -moz-transition: 1ms opacity ease;
    -ms-transition: 1ms opacity ease;
    -o-transition: 1ms opacity ease;
    transition: 1ms opacity ease;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background: #fff;
}

    .scotch-modal.scotch-open.scotch-anchored {
        top: 20px;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .scotch-modal.scotch-open {
        opacity: 1;
    }

.scotch-overlay.scotch-open {
    opacity: 1;
}

/* Close Button */
.scotch-close {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 7px 7px;
    cursor: pointer;
    color: #fff;
    border: 0;
    outline: none !important;
    background: #e74c3c;
}

    .scotch-close:hover {
        background: #c0392b;
    }

/* Default Animation */

.scotch-overlay.fade-and-drop {
    display: block;
    opacity: 0;
}

.scotch-modal.fade-and-drop {
    top: -300%;
    opacity: 1;
    display: block;
}

    .scotch-modal.fade-and-drop.scotch-open {
        top: 50%;
        -webkit-transition: 500ms top 500ms ease;
        -moz-transition: 500ms top 500ms ease;
        -ms-transition: 500ms top 500ms ease;
        -o-transition: 500ms top 500ms ease;
        transition: 500ms top 500ms ease;
    }

        .scotch-modal.fade-and-drop.scotch-open.scotch-anchored {
            -webkit-transition: 500ms top 500ms ease;
            -moz-transition: 500ms top 500ms ease;
            -ms-transition: 500ms top 500ms ease;
            -o-transition: 500ms top 500ms ease;
            transition: 500ms top 500ms ease;
        }

.scotch-overlay.fade-and-drop.scotch-open {
    top: 0;
    -webkit-transition: 500ms opacity ease;
    -moz-transition: 500ms opacity ease;
    -ms-transition: 500ms opacity ease;
    -o-transition: 500ms opacity ease;
    transition: 500ms opacity ease;
    opacity: 1;
}

.scotch-modal.fade-and-drop {
    -webkit-transition: 500ms top ease;
    -moz-transition: 500ms top ease;
    -ms-transition: 500ms top ease;
    -o-transition: 500ms top ease;
    transition: 500ms top ease;
}

.scotch-overlay.fade-and-drop {
    -webkit-transition: 500ms opacity 500ms ease;
    -moz-transition: 500ms opacity 500ms ease;
    -ms-transition: 500ms opacity 500ms ease;
    -o-transition: 500ms opacity 500ms ease;
    transition: 500ms opacity 500ms ease;
}

/* Demo Styles */

#content {
    display: none;
}

.trigger-button {
    user-select:none;
    font-size: 17px;
    top: 100px;
    display: block;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 3px;
    outline: none !important;
    background: #2ecc71;
    box-shadow: 0 5px 1px #27ae60;
    margin-top: -45px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

    .trigger-button:hover {
        background: #27ae60;
        box-shadow: 0 5px 1px #145b32;
    }

    .trigger-button:active {
        border-top: 5px solid #145b32;
        box-shadow: none;
    }

.how_to_play_title {
    text-align: center;
}

.role {
    width: 50px;
    height: 50px;
}


#toggle {
    display: none;
}

.leftbar {
    position: absolute;
    width: 22%;
    height: 100%;
    background-color: #2c3e50;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    left: -32%;
    /* for sidebar to stay on top */
    z-index: 6;
    transition: left 0.5s ease-in-out;
    top:0;
}

.exit {
    cursor: pointer;
    font-weight: 800;
    color: white;
    float: right;
    padding: 1.1rem;
}

.left_part {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease-in-out;
    top:0;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    color: black;
}

.content p {
    margin: 0 auto;
    text-align: center;
    padding-top: 20%;
    font-size: 50px;
}

#toggle:checked ~ .leftbar {
    left: 0;
}

#toggle:checked ~ .content {
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-btn {
    display: block;
    width: 30px;
    height: 30px;
    /* border: 1px solid#000; */
    position: relative;
    border-radius: 5%;
    padding: 20px 30px;
}

    .menu-btn span {
        position: absolute;
        height: 4px;
        width: 36px;
        background-color: #666;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

        .menu-btn span:nth-last-child(1) {
            transform: translateY(-8px);
        }

        .menu-btn span:nth-last-child(3) {
            transform: translateY(8px);
        }

.avatat {
    border-radius: 50%;
    width: 60%;
    margin-top: 50px;
    padding-top:10px;
}

.member_info {
    list-style: none;
    color: #fff;
}

    .member_info a {
        text-decoration: none;
        color: #fff;
    }

.user_img {
    background-color: transparent;
}

.user_Choiceimg {
    background-color: #d4feff;
}

.users_pic {
    width: 30%;
    height: auto;
}

.upLoadImg {
    height: 6rem;
    width: 6rem;
    border: 2px #000 dashed;
    font-size: 50px;
    margin-top: 60px;
    margin-left: 40px;
}

.plus {
    display: none;
}
.close_btn {
    border: none;
    box-shadow: none;
}
    .close_btn:focus {
        outline:none;
        box-shadow: none;
    }


#trigger {
    margin-top: 0;
    width: 150px;
    height: 60px;
    z-index: 6;
    margin-right:650px;
}

.confirmBtn {
    border: 0;
    display: flex;
    float:right;
    margin-right: 0;    
}
.confirmBtn:hover {
    background-color: #4e5f72;
}

.deleteBtn {
    margin-top:100px;
    z-index:6;
}
.Shopping_btn {
    background-color: #CCEEFF;
    color: #000;
    margin-left: 3%;
}
.Shopping_btn:hover {
    background-color: #4e5f72;
}
.user_img_btn {

}