.body {
    font-family: 'Noto Sans TC';
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Ubuntu', sans-serif;
}
.bgm-pic {
    background-image: url(https://i.imgur.com/mF8XJ9t.png);
    overflow-x: hidden;
    overflow-y: hidden;

    .wrap {
        margin-top: 50px;
    }

    .title {
        color: #FF5511;

        h1 {
            font-size: 60px;
        }
    }
}
.modal-content{  
    background-color: rgba(15, 5, 2, 0.8);  
  }
.forgetPSW{
    a{text-decoration:none;
    color: #fff;}
  }
  .modal-body{
    label{color: #fff;}
  }
